In [15]:
import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

In [47]:
students_df = pd.DataFrame(students)
students_df1 = students_df.iloc[:, 0]
students_df2 = students_df.iloc[:, 1]
# students_df1 = students_df1.to_frame().join(students_df2.to_frame())
students_df1

0           Tim Voss
1     Nicole Johnson
2      Elsa Williams
3         John James
4    Catherine Jones
Name: name, dtype: object

In [50]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(name='flag', dtype=str)
ser = students_df1.to_frame().join(ser.to_frame())
ser

              name flag
0         Tim Voss  NaN
1   Nicole Johnson  NaN
2    Elsa Williams  NaN
3       John James  NaN
4  Catherine Jones  NaN

rite a function named grades_colors to select only the rows where the studentâ€™s favorite color is green or red and their grade is above 90.

In [4]:
students_df[(students_df.favorite_color.isin(['yellow', 'red'])) & (students_df.grade > 90)]

             name  age favorite_color  grade
0        Tim Voss   19            red     91
1  Nicole Johnson   20         yellow     95